{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/display-name": "off",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off"
    }
}
